@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-3">Todo APP in C# ASP.NET MVC</h1>
    <h2 class="">- using Identity and SQL database. -</h2>
    <div class="d-flex justify-content-center">
    <p>Please, @Html.ActionLink("login", "Login", "Account") first</p> 
    </div>
</div>
