.sh {
    filter: drop-shadow(0px 3px 3px #222);
}

.item-list::-webkit-scrollbar {
    display: none;
  }

.item-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
    height: 94vh;
    overflow-y: scroll;
    align-content: flex-start; 
}

@media screen and (max-width:1480px) {
    .item-list{
        justify-content: center;
    }
}

.shop-item{

    margin-top: 5px;
    max-height: 350px;
    margin-bottom: 15px;
}

.shop-card{
    background-image: url("../assets/wood.png");
    width: 18rem;
    height: 13rem;
    border-radius: 3px;
    margin: 20px 0 0 20px;
    filter: drop-shadow(0px 3px 3px #222);
    border: 3px solid black !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
}



.shop-icon{
    width: 44px;
    background-color: #865936;
    margin : 10px 0 0 10px;
    padding: 3px;
    border: 3px solid black !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
    border-radius: 5px;
    filter: drop-shadow(0px 3px 3px #222);
}



.shop-info{
    background-color: #b97e53;
    border-radius: 3px;
    margin: 10px;
    border: 3px solid black !important;
    width: 92%;
    height: 60%;
    margin-bottom: 5px;
    box-shadow:inset 1px 0px 28px 4px #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-info p{
    margin: 0;
    text-align: center;
    vertical-align: middle;
}


.shop-card-top{
  
    display: flex;
}

.shop-name{
    color: black;
    margin: 8px 0 0 5px;
}

.shop-chain{

    width: auto;
    height: 1.3rem;

    margin-left: 20px;
    background-image: url("../assets/chains.png");
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 3px 3px #222);
}

.shop-buy{

    display: flex;
    background-image: url("../assets/wood.png");
    width: 18rem;
    height: 4rem;
    margin: 0 0 10px 20px;
    filter: drop-shadow(0px 3px 3px #222);
    border: 3px solid black !important;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
}

.btn-buy{
    margin-top: 5px;
    width: 8rem !important;
}

.btn-buy:hover{
    box-shadow:inset 0px 0px 8px 0.01em #000000;
}
.coins{
    font-size: 19px;
    margin-top: 10px;
    margin-right: 5px;
    display: flex;
    color: #050505;

}

.coins img {
    width: 33px;
    height: 33px;
    filter: drop-shadow(0px 5px 5px #222);
}


.shop-icon:hover{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}