body{
    --fcolor: black; 
}

.top-bar{
    position: absolute;
    background:url("../assets/wood.png");
    border-bottom: 3px solid black;
    border-radius: 0px 5px 5px 0;
    width: 100vw;
    height: 55px;
    filter: drop-shadow(8px 0px 15px #222);
    
}

.user-info{
    display: flex;
}

.user-info p{
    font-size: 18px;
    -webkit-text-stroke: 1px black;
    color: #5DDE87;
}


.user-info .name-tag{
    text-align: left;
    margin: 5px 0  0 280px;
    color: #5DDE87;
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    filter: drop-shadow(0px 5px 5px #222);
}

.user-info img{
    margin-top: 7px;
    width: 33px;
    height: 33px;  
    filter: drop-shadow(0px 5px 5px #222);
}

.user-info p{
    filter: drop-shadow(0px 5px 5px #222);
}

.left{
    margin-left: 10px;
}